{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card text-center" style="width: 50%;">
        <div class="card-body">
            <h1 class="card-title">Detalle del Acuerdo</h1>
            <h3 class="card-text">{{ acuerdo.titulo }}</h3>
            <p class="card-text">Emisor: {{ acuerdo.emisor }}</p>
            <p class="card-text">Categoria : {{ acuerdo.categoria }}</p>
            <p class="card-text">Estado: {{ acuerdo.estado }}</p>
            <h2>Acciones disponibles:</h2>
            {% if acciones %}
            <div class="row">
                {% for accion in acciones %}
                <div class="col-md-6 mb-2">
                    <a href="{% url accion acuerdo.id %}" class="btn btn-primary btn-block">{{ accion }}</a>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p>no hay acciones disponibles</p>
            <a href="{% url 'listar_acuerdos' %}" class="btn btn-primary btn-block"> Atras</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}